# YFinance Tutorial: Pulling Free Financial Data

yfinance is a popular Python library that offers a reliable, fast, and easy way to fetch historical market data from Yahoo Finance. Whether you're a seasoned data analyst, a budding quant trader, or a finance enthusiast, yfinance is a tool you'll find indispensable. In this tutorial, we'll walk through the basics of using yfinance to pull financial data.

## Documentation
You can find the online documentation for `yfinance` here: https://python-yahoofinance.readthedocs.io/en/latest/

## Setting Up

Ensure you have `yfinance` installed. If not, install it using pip, inside a notebook cell:

```python
!pip install yfinance
```

* If you are installing from the terminal, use: `pip install yfinance`.
* If you followed the getting_started instructions, your python environment will already have it installed.

---
## Basic Usage of yfinance
### Importing the library

After installation, you can import yfinance in your Python script or notebook:

In [1]:
import yfinance as yf

### Getting Historical Data

To fetch historical market data for a specific stock, use the yf.Ticker class. For example, let's fetch data for Apple Inc:

In [2]:
apple = yf.Ticker("AAPL")
apple

yfinance.Ticker object <AAPL>

* You can get the historical market data using the history method. By default, it retrieves the last five days of stock data.
* We will now reference the object `apple` when extracting data.

In [3]:
# Get the last 5 days of historical data
hist = apple.history(period="5d")
hist

# Fetching Real-Time Data
# Note: Real-time data might be delayed due to limitations from Yahoo Finance

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-09-19 00:00:00-04:00,224.990005,229.820007,224.630005,228.869995,66781300,0.0,0.0
2024-09-20 00:00:00-04:00,229.970001,233.089996,227.619995,228.199997,318679900,0.0,0.0
2024-09-23 00:00:00-04:00,227.339996,229.449997,225.809998,226.470001,54146000,0.0,0.0
2024-09-24 00:00:00-04:00,228.649994,229.350006,225.729996,227.369995,43492700,0.0,0.0
2024-09-25 00:00:00-04:00,224.929993,227.289993,224.610001,226.651993,7951358,0.0,0.0

* To fetch data for a specific period, you can specify the period or start and end dates:

In [4]:
# Data for a specific period
hist_1m = apple.history(period="1mo")  # 1 month
hist_1year = apple.history(start="2020-01-01", end="2021-01-01")  # Specific date range, for each day

print('History: Monthly')
hist_1m.tail()

History: Monthly

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-09-19 00:00:00-04:00,224.990005,229.820007,224.630005,228.869995,66781300,0.0,0.0
2024-09-20 00:00:00-04:00,229.970001,233.089996,227.619995,228.199997,318679900,0.0,0.0
2024-09-23 00:00:00-04:00,227.339996,229.449997,225.809998,226.470001,54146000,0.0,0.0
2024-09-24 00:00:00-04:00,228.649994,229.350006,225.729996,227.369995,43492700,0.0,0.0
2024-09-25 00:00:00-04:00,224.929993,227.289993,224.610001,226.651993,7951472,0.0,0.0

In [5]:
print('History: Year - each day')
hist_1year

History: Year - each day

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-02 00:00:00-05:00,71.878871,72.936773,71.624105,72.876114,135480400,0.0,0.0
2020-01-03 00:00:00-05:00,72.099664,72.931908,71.941952,72.167603,146322800,0.0,0.0
2020-01-06 00:00:00-05:00,71.284415,72.781483,71.032070,72.742661,118387200,0.0,0.0
2020-01-07 00:00:00-05:00,72.752363,73.009558,72.179742,72.400543,108872000,0.0,0.0
2020-01-08 00:00:00-05:00,72.102091,73.868490,72.102091,73.565193,132079200,0.0,0.0
...,...,...,...,...,...,...,...
2020-12-24 00:00:00-05:00,128.553200,130.648111,128.337834,129.189499,54930100,0.0,0.0
2020-12-28 00:00:00-05:00,131.166933,134.446342,130.697036,133.810043,124486200,0.0,0.0
2020-12-29 00:00:00-05:00,135.141389,135.865788,131.509549,132.028381,121047300,0.0,0.0
2020-12-30 00:00:00-05:00,132.723415,133.124780,130.589338,130.902603,96452100,0.0,0.0
2020-12-31 00:00:00-05:00,131.255046,131.901144,128.944769,129.894333,99116600,0.0,0.0

### Adjusting for Stock Splits
yfinance automatically adjusts historical data for stock splits. If you prefer unadjusted data, set auto_adjust to False:

In [6]:
hist_unadj = apple.history(period="1mo", auto_adjust=False)
hist_unadj

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2024-08-26 00:00:00-04:00,226.759995,227.279999,223.889999,227.179993,227.179993,30602200,0.0,0.0
2024-08-27 00:00:00-04:00,226.000000,228.850006,224.889999,228.029999,228.029999,35934600,0.0,0.0
2024-08-28 00:00:00-04:00,227.919998,229.860001,225.679993,226.490005,226.490005,38052200,0.0,0.0
2024-08-29 00:00:00-04:00,230.100006,232.919998,228.880005,229.789993,229.789993,51906300,0.0,0.0
2024-08-30 00:00:00-04:00,230.190002,230.399994,227.479996,229.000000,229.000000,52990800,0.0,0.0
2024-09-03 00:00:00-04:00,228.550003,229.000000,221.169998,222.770004,222.770004,50190600,0.0,0.0
2024-09-04 00:00:00-04:00,221.660004,221.779999,217.479996,220.850006,220.850006,43840200,0.0,0.0
2024-09-05 00:00:00-04:00,221.630005,225.479996,221.520004,222.380005,222.380005,36615400,0.0,0.0
2024-09-06 00:00:00-04:00,223.949997,225.240005,219.770004,220.820007,220.820007,48423000,0.0,0.0
2024-09-09 00:00:00-04:00,220.820007,221.270004,216.710007,220.910004,220.910004,67180000,0.0,0.0
2024-09-10 00:00:00-04:00,218.919998,221.479996,216.729996,220.110001,220.110001,51591000,0.0,0.0
2024-09-11 00:00:00-04:00,221.460007,223.089996,217.889999,222.660004,222.660004,44587100,0.0,0.0
2024-09-12 00:00:00-04:00,222.500000,223.550003,219.820007,222.770004,222.770004,37498200,0.0,0.0
2024-09-13 00:00:00-04:00,223.580002,224.039993,221.910004,222.500000,222.500000,36766600,0.0,0.0
2024-09-16 00:00:00-04:00,216.539993,217.220001,213.919998,216.320007,216.320007,59357400,0.0,0.0
2024-09-17 00:00:00-04:00,215.750000,216.899994,214.500000,216.789993,216.789993,45519300,0.0,0.0
2024-09-18 00:00:00-04:00,217.550003,222.710007,217.539993,220.690002,220.690002,59894900,0.0,0.0
2024-09-19 00:00:00-04:00,224.990005,229.820007,224.630005,228.869995,228.869995,66781300,0.0,0.0
2024-09-20 00:00:00-04:00,229.970001,233.089996,227.619995,228.199997,228.199997,318679900,0.0,0.0
2024-09-23 00:00:00-04:00,227.339996,229.449997,225.809998,226.470001,226.470001,54146000,0.0,0.0
2024-09-24 00:00:00-04:00,228.649994,229.350006,225.729996,227.369995,227.369995,43492700,0.0,0.0
2024-09-25 00:00:00-04:00,224.929993,227.289993,224.610001,226.651993,226.651993,7951472,0.0,0.0

### Including Dividends and Stock Splits
To include dividend and stock split data, set actions to True:

In [7]:
hist_adj = apple.history(period="5y", actions=True)
hist_adj

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-09-25 00:00:00-04:00,52.869647,53.583284,52.528552,53.469585,87613600,0.0,0.0
2019-09-26 00:00:00-04:00,53.220416,53.447813,52.937381,53.193806,75334000,0.0,0.0
2019-09-27 00:00:00-04:00,53.351047,53.452653,52.562418,52.934963,101408000,0.0,0.0
2019-09-30 00:00:00-04:00,53.438140,54.328375,53.411530,54.180809,103909600,0.0,0.0
2019-10-01 00:00:00-04:00,54.446915,55.208933,54.236450,54.330795,139223200,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-19 00:00:00-04:00,224.990005,229.820007,224.630005,228.869995,66781300,0.0,0.0
2024-09-20 00:00:00-04:00,229.970001,233.089996,227.619995,228.199997,318679900,0.0,0.0
2024-09-23 00:00:00-04:00,227.339996,229.449997,225.809998,226.470001,54146000,0.0,0.0
2024-09-24 00:00:00-04:00,228.649994,229.350006,225.729996,227.369995,43492700,0.0,0.0
2024-09-25 00:00:00-04:00,224.929993,227.289993,224.610001,226.651993,7951472,0.0,0.0

---
## Advanced Usage

### Fetching Data for Multiple Stocks

To fetch data for multiple stocks, pass a list of ticker symbols to yf.download:

In [8]:
data = yf.download("AAPL MSFT GOOG", start="2020-01-01", end="2021-01-01")
data

[*********************100%***********************]  3 of 3 completed

Price                       Adj Close                              Close  \
Ticker                           AAPL       GOOG        MSFT        AAPL
Date
2020-01-02 00:00:00+00:00   72.876114  68.201012  153.938202   75.087502
2020-01-03 00:00:00+00:00   72.167603  67.866325  152.021408   74.357498
2020-01-06 00:00:00+00:00   72.742661  69.539726  152.414352   74.949997
2020-01-07 00:00:00+00:00   72.400543  69.496330  151.024673   74.597504
2020-01-08 00:00:00+00:00   73.565193  70.043991  153.430252   75.797501
...                               ...        ...         ...         ...
2020-12-24 00:00:00+00:00  129.189499  86.729507  215.745132  131.970001
2020-12-28 00:00:00+00:00  133.810043  88.586945  217.885696  136.690002
2020-12-29 00:00:00+00:00  132.028381  87.720573  217.101120  134.869995
2020-12-30 00:00:00+00:00  130.902603  86.762924  214.708801  133.720001
2020-12-31 00:00:00+00:00  129.894333  87.379417  215.425552  132.690002

Price                                                   High             \
Ticker                          GOOG        MSFT        AAPL       GOOG
Date
2020-01-02 00:00:00+00:00  68.368500  160.619995   75.150002  68.406998
2020-01-03 00:00:00+00:00  68.032997  158.619995   75.144997  68.625000
2020-01-06 00:00:00+00:00  69.710503  159.029999   74.989998  69.824997
2020-01-07 00:00:00+00:00  69.667000  157.580002   75.224998  70.149498
2020-01-08 00:00:00+00:00  70.216003  160.089996   76.110001  70.579002
...                              ...         ...         ...        ...
2020-12-24 00:00:00+00:00  86.942497  222.750000  133.460007  87.300003
2020-12-28 00:00:00+00:00  88.804497  224.960007  137.339996  89.536400
2020-12-29 00:00:00+00:00  87.935997  224.149994  138.789993  89.622002
2020-12-30 00:00:00+00:00  86.975998  221.679993  135.990005  88.254753
2020-12-31 00:00:00+00:00  87.594002  222.419998  134.740005  87.946503

Price                                         Low                         \
Ticker                           MSFT        AAPL       GOOG        MSFT
Date
2020-01-02 00:00:00+00:00  160.729996   73.797501  67.077499  158.330002
2020-01-03 00:00:00+00:00  159.949997   74.125000  67.277199  158.059998
2020-01-06 00:00:00+00:00  159.100006   73.187500  67.500000  156.509995
2020-01-07 00:00:00+00:00  159.669998   74.370003  69.518997  157.320007
2020-01-08 00:00:00+00:00  160.800003   74.290001  69.542000  157.949997
...                               ...         ...        ...         ...
2020-12-24 00:00:00+00:00  223.610001  131.100006  86.455498  221.199997
2020-12-28 00:00:00+00:00  226.029999  133.509995  87.316750  223.020004
2020-12-29 00:00:00+00:00  227.179993  134.339996  87.804497  223.580002
2020-12-30 00:00:00+00:00  225.630005  133.399994  86.279999  221.470001
2020-12-31 00:00:00+00:00  223.000000  131.720001  86.771004  219.679993

Price                            Open                            Volume  \
Ticker                           AAPL       GOOG        MSFT       AAPL
Date
2020-01-02 00:00:00+00:00   74.059998  67.077499  158.779999  135480400
2020-01-03 00:00:00+00:00   74.287498  67.392998  158.320007  146322800
2020-01-06 00:00:00+00:00   73.447502  67.500000  157.080002  118387200
2020-01-07 00:00:00+00:00   74.959999  69.897003  159.320007  108872000
2020-01-08 00:00:00+00:00   74.290001  69.603996  158.929993  132079200
...                               ...        ...         ...        ...
2020-12-24 00:00:00+00:00  131.320007  86.750000  221.419998   54930100
2020-12-28 00:00:00+00:00  133.990005  87.581749  224.449997  124486200
2020-12-29 00:00:00+00:00  138.050003  89.389503  226.309998  121047300
2020-12-30 00:00:00+00:00  135.580002  88.100502  225.229996   96452100
2020-12-31 00:00:00+00:00  134.080002  86.771004  221.699997   99116600

Price
Ticker                         GOOG      MSFT
Date
2020-01-02 00:00:00+00:00  28132000  22622100
2020-01-03 00:00:00+00:00  23728000  21116200
2020-01-06 00:00:00+00:00  34646000  20813700
2020-01-07 00:00:00+00:00  30054000  21634100
2020-01-08 00:00:00+00:00  30560000  27746500
...                             ...       ...
2020-12-24 00:00:00+00:00   6936000  10550600
2020-12-28 00:00:00+00:00  27860000  17933500
2020-12-29 00:00:00+00:00  25988000  17403200
2020-12-30 00:00:00+00:00  26122000  20272300
2020-12-31 00:00:00+00:00  20238000  20942100

[253 rows x 18 columns]

### Fetching Real-Time Data
For real-time data, you can use the interval parameter with the history method. For example, fetching minute-level data for the past 5 days:

In [9]:
real_time_data = apple.history(period="5d", interval="1m")
real_time_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-09-19 09:30:00-04:00,224.940002,224.940002,224.940002,224.940002,2374291,0.0,0.0
2024-09-19 09:31:00-04:00,224.880005,225.092697,224.639999,225.020004,260403,0.0,0.0
2024-09-19 09:32:00-04:00,225.080002,225.380005,224.970001,225.339996,452089,0.0,0.0
2024-09-19 09:33:00-04:00,225.339996,225.690002,225.250000,225.649994,338875,0.0,0.0
2024-09-19 09:34:00-04:00,225.699997,226.089996,225.699997,225.949997,493739,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-25 10:21:00-04:00,226.839996,226.899994,226.794998,226.794998,45173,0.0,0.0
2024-09-25 10:22:00-04:00,226.794998,226.830002,226.639999,226.820007,79109,0.0,0.0
2024-09-25 10:23:00-04:00,226.824997,226.830002,226.578705,226.578705,81670,0.0,0.0
2024-09-25 10:24:00-04:00,226.574997,226.710007,226.509995,226.509995,106497,0.0,0.0
2024-09-25 10:25:00-04:00,226.651993,226.651993,226.651993,226.651993,0,0.0,0.0

**Note:**
* Real-time data might be delayed by up to 15 minutes due to Yahoo Finance’s limitations.

---
## Conclusion
yfinance is a powerful tool that provides easy access to a wealth of financial data. By integrating yfinance into your analysis, you gain the ability to make more informed decisions based on historical and real-time market data. Happy data hunting.

In [1]:
import datetime

In [10]:
from datetime import datetime, timedelta

# Define the target date
target_date = datetime(2024, 9, 16)

# Get today's date
today = datetime(2024, 11, 5)

# Calculate the difference
difference = target_date - today

print(difference)

-50 days, 0:00:00

In [ ]:
import pandas as pd

# Define the target date
target_date = pd.Timestamp('2024-09-16')

# Get today's date
today = pd.Timestamp('2024-11-05')

# Calculate the difference
difference = target_date - today

print(difference)

-50 days +00:00:00

:

In [1]:
import numpy as np

In [2]:
27.12/22.72

1.193661971830986